/**
 * Colors
 */
$white: #fff;

$black: #000;

$primary-color: #1275b9;

$darker-grey: #393939;

$background-grey: #fafafa;

$footer-background: #262626;

$copyright-background: #1e1e1e;

$border-color: #ededed;


/**
 * Fonts
 */

$primary-font: 'Open-sans';
